@charset "UTF-8";
body{
    background-color:rgb(255, 11, 11);
}
main{
    background-color: white;
    border-radius: 10px, 10px, 10px, 10px;
    width: 450px;
    padding: 10px;
    margin: auto;
}
